Repository simonfallon/medellin_real_estate: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, vitest

.pre-commit-config.yaml:

repos:
  # Backend - Python
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.1.13
    hooks:
      # Run the linter.
      - id: ruff
        args: [ --fix ]
      # Run the formatter.
      - id: ruff-format

  # Frontend - Prettier (Formatter)
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8  # Use a recent version
    hooks:
      - id: prettier
        types_or: [css, javascript, html, json]

  # Local Hooks (Tests)
  - repo: local
    hooks:
      # Backend Tests
      - id: pytest
        name: Backend Tests (pytest)
        entry: backend/venv/bin/pytest
        language: system
        types: [python]
        files: ^backend/
        # Run pytest on the backend/tests directory
        args: ["backend/tests"]
        pass_filenames: false

      # Frontend Tests
      - id: vitest
        name: Frontend Tests (vitest)
        entry: bash -c 'cd frontend && npm install && npm test'
        language: system
        files: ^frontend/
        pass_filenames: false
        types_or: [javascript, css, html]

refactor: gitignore and pre-commit hook
  .gitignore
  .pre-commit-config.yaml
Due: none

refactor: gitignore
  .gitignore
Due: none

feat: add escala inmobiliaria
  .pre-commit-config.yaml
  backend/main.py
  backend/scraper.py
  backend/scrapers/ADDING_NEW_SCRAPER.md
  backend/scrapers/escala_inmobiliaria.py
  backend/tests/test_escala_inmobiliaria.py
  frontend/assets/images/icons/escala_inmobiliaria.png
  frontend/index.html
  frontend/modules/dom.js
  frontend/modules/filters.js
  frontend/modules/map.js
  frontend/script.js
  frontend/utils.js
Due: pytest, vitest

feat: soft-delete removed properties
  backend/database.py
  backend/main.py
  backend/migrations/add_deleted_at.py
  backend/storage.py
  backend/tests/test_soft_delete.py
Due: pytest

refactor: agency dropdown
  frontend/index.html
  frontend/modules/dom.js
  frontend/script.js
  frontend/styles.css
Due: vitest

refactor: add POI to map
  frontend/index.html
  frontend/modules/map.js
Due: vitest

feat: Add uribienes
  backend/debug_uribienes.py
  backend/debug_uribienes_search.py
  backend/main.py
  backend/scraper.py
  backend/scrapers/ADDING_NEW_SCRAPER.md
  backend/scrapers/uribienes.py
  backend/tests/test_uribienes.py
  frontend/assets/images/icons/uribienes.png
  frontend/index.html
  frontend/utils.js
Due: pytest, vitest

refactor: loading state
  backend/debug_uribienes.py
  backend/debug_uribienes_search.py
  backend/scrapers/uribienes.py
  frontend/script.js
  frontend/styles.css
Due: pytest, vitest

Add license and legal disclaimer
  LICENSE
  README.md
  legal_disclaimer.md
Due: none

refactor: scrappers and .mds
  CLAUDE.md
  backend/scrapers/ADDING_NEW_SCRAPER.md
  backend/scrapers/alberto_alvarez.py
  backend/scrapers/arrendamientos_envigado.py
  backend/scrapers/arrendamientos_las_vegas.py
  backend/scrapers/base.py
  backend/scrapers/escala_inmobiliaria.py
  backend/scrapers/proteger.py
  backend/scrapers/uribienes.py
  backend/tests/test_arrendamientos_las_vegas.py
  backend/tests/test_proteger.py
Due: pytest

refactor: Add GEMINI.md
  GEMINI.md
Due: none

feat: make price ranges dynamic
  backend/main.py
  backend/scraper.py
  backend/scrapers/alberto_alvarez.py
  backend/scrapers/arrendamientos_envigado.py
  backend/scrapers/arrendamientos_las_vegas.py
  backend/scrapers/base.py
  backend/scrapers/escala_inmobiliaria.py
  backend/scrapers/proteger.py
  backend/scrapers/uribienes.py
  backend/tests/test_price_range_endpoint.py
  frontend/debug.html
  frontend/index.html
  frontend/modules/api.js
  frontend/script.js
  frontend/tests/price-range.test.js
Due: pytest, vitest

feat: add livinmobiliaria
  backend/main.py
  backend/scraper.py
  backend/scrapers/ADDING_NEW_SCRAPER.md
  backend/scrapers/livinmobiliaria.py
  backend/tests/test_livinmobiliaria.py
  frontend/assets/images/icons/livinmobiliaria.png
  frontend/index.html
  frontend/utils.js
Due: pytest, vitest

Add workflow
  .agent/workflows/adding-new-scraper.md
Due: none

feat: Add light mode
  frontend/index.html
  frontend/script.js
  frontend/styles.css
Due: vitest
